
.right {
	float: right;
	max-width: 250px;
	margin: 10px;
}

.right-pic {
	max-height: 500px;
	text-align: right;
}

.right-pic-big {
	max-height: 630px;
	text-align: right;
}


.graph {
	width: 48%;
	margin: 3px;
}

p {
	text-align: justify;
}